:root{
  --border-color: rgb(0, 211, 95);
  --hover-color: rgb(0, 255, 157);
  --text-color: black;
  --background-color: whitesmoke;
  --box-shadow-color: black;
}

body{
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.2s;
}

a{
  text-decoration: none;
}

img{
  user-select: none;
}
